In [29]:
pd.set_option('display.max_columns', None)

In [30]:
import pandas as pd

path = "/Users/mkapilev/Documents/Insight/Project_databases/survey_data/csv/demographic-snapshot-2015-16-to-2019-20-(public).csv"
enrollmentDF = pd.read_csv(path)
enrollmentDF = enrollmentDF[['DBN', 'School Name', 'Year', 'Total Enrollment', 'Economic Need Index', 'Enrollment Change']]
enrollmentDF = enrollmentDF[(enrollmentDF['Year'] != '2019-20')] # filter out last year 2020 - we don't have data for it
enrollmentDF

,DBN,School Name,Year,Total Enrollment,Economic Need Index,Enrollment Change
0,01M015,P.S. 015 Roberto Clemente,2015-16,176,88.90%,0.011364
1,01M015,P.S. 015 Roberto Clemente,2016-17,178,88.20%,0.067416
2,01M015,P.S. 015 Roberto Clemente,2017-18,190,89.00%,-0.084211
3,01M015,P.S. 015 Roberto Clemente,2018-19,174,88.80%,0.091954
5,01M019,P.S. 019 Asher Levy,2015-16,270,62.50%,0.003704
...,...,...,...,...,...,...
9089,84X718,Bronx Charter School for Better Learning,2018-19,564,61.20%,0.012411
9091,84X730,Bronx Charter School for the Arts,2015-16,323,82.10%,-0.009288
9092,84X730,Bronx Charter School for the Arts,2016-17,320,84.00%,-0.018750
9093,84X730,Bronx Charter School for the Arts,2017-18,314,89.10%,0.369427
9094,84X730,Bronx Charter School for the Arts,2018-19,430,88.80%,0.216279

In [34]:
import pandas as pd

TotalSurveyDF = pd.read_excel('/Users/mkapilev/Documents/Insight/Project_databases/survey_data/xlsx/2019-public-data-file_parent.xlsx', sheet_name='Total')
TotalSurveyDF['Year']='2018-19'
TotalSurveyDF

# unnamedCols = []

# for col in parentSurveyDF.columns: 
#     if col.startswith("Unnamed:"):
#         unnamedCols.append(col)

TotalSurveyDF1 = TotalSurveyDF.drop(columns=['Total Parent \nResponse Rate', 'Total Teacher Response Rate', 'Total Student Response Rate' ])
TotalSurveyDF.drop([0,1], inplace=True)
TotalSurveyDF1.head(100)

,DBN,School Name,Collaborative Teachers Score,Effective School Leadership Score,Rigorous Instruction Score,Supportive Environment Score,Strong Family-Community Ties Score,Trust Score,Year
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-19
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-19
2,01M015,P.S. 015 ROBERTO CLEMENTE,4.10,4.19,4.02,NaN,4.18,3.96,2018-19
3,01M019,P.S. 019 ASHER LEVY,4.53,4.51,4.80,NaN,4.66,3.76,2018-19
4,01M020,P.S. 020 ANNA SILVER,2.71,2.98,1.92,NaN,3.84,3.14,2018-19
...,...,...,...,...,...,...,...,...,...
95,02M399,THE HIGH SCHOOL FOR LANGUAGE AND DIPLOMACY,2.42,2.56,2.39,NaN,1.73,2.19,2018-19
96,02M400,HIGH SCHOOL FOR ENVIRONMENTAL STUDIES,3.80,4.38,3.95,NaN,3.56,3.67,2018-19
97,02M407,INSTITUTE FOR COLLABORATIVE EDUCATION,NaN,NaN,NaN,NaN,NaN,NaN,2018-19
98,02M408,PROFESSIONAL PERFORMING ARTS HIGH SCHOOL,3.83,3.73,3.37,NaN,3.30,3.31,2018-19
99,02M411,BARUCH COLLEGE CAMPUS HIGH SCHOOL,3.04,2.74,3.65,NaN,3.59,2.68,2018-19

In [36]:
TotalSurveyDF1.drop([0,1], inplace=True)
TotalSurveyDF1.head(100)

,DBN,School Name,Collaborative Teachers Score,Effective School Leadership Score,Rigorous Instruction Score,Supportive Environment Score,Strong Family-Community Ties Score,Trust Score,Year
2,01M015,P.S. 015 ROBERTO CLEMENTE,4.10,4.19,4.02,NaN,4.18,3.96,2018-19
3,01M019,P.S. 019 ASHER LEVY,4.53,4.51,4.80,NaN,4.66,3.76,2018-19
4,01M020,P.S. 020 ANNA SILVER,2.71,2.98,1.92,NaN,3.84,3.14,2018-19
5,01M034,P.S. 034 FRANKLIN D. ROOSEVELT,2.69,2.59,2.14,NaN,3.67,2.38,2018-19
6,01M063,THE STAR ACADEMY - P.S.63,NaN,NaN,NaN,NaN,NaN,3.77,2018-19
...,...,...,...,...,...,...,...,...,...
97,02M407,INSTITUTE FOR COLLABORATIVE EDUCATION,NaN,NaN,NaN,NaN,NaN,NaN,2018-19
98,02M408,PROFESSIONAL PERFORMING ARTS HIGH SCHOOL,3.83,3.73,3.37,NaN,3.30,3.31,2018-19
99,02M411,BARUCH COLLEGE CAMPUS HIGH SCHOOL,3.04,2.74,3.65,NaN,3.59,2.68,2018-19
100,02M412,N.Y.C. LAB SCHOOL FOR COLLABORATIVE STUDIES,4.48,4.07,4.39,NaN,4.23,4.04,2018-19
101,02M413,SCHOOL OF THE FUTURE HIGH SCHOOL,NaN,NaN,NaN,NaN,NaN,3.18,2018-19

In [37]:
joinedDF = enrollmentDF.merge(TotalSurveyDF, how='inner', left_on=['DBN', 'Year'], right_on=['DBN', 'Year'])

for col in joinedDF.columns:
    print(col)

DBN
School Name_x
Year
Total Enrollment
Economic Need Index
Enrollment Change
School Name_y
Total Parent
Response Rate
Total Teacher Response Rate
Total Student Response Rate
Collaborative Teachers Score
Effective School Leadership Score
Rigorous Instruction Score
Supportive Environment Score
Strong Family-Community Ties Score
Trust Score

In [33]:
naCounts = joinedDF.isna().sum()
naCounts

DBN                                      0
School Name_x                            0
Year                                     0
Total Enrollment                         0
Economic Need Index                      0
Enrollment Change                        0
School Name_y                            0
Total Parent \nResponse Rate             0
Total Teacher Response Rate              0
Total Student Response Rate            719
Collaborative Teachers Score           203
Effective School Leadership Score      203
Rigorous Instruction Score             203
Supportive Environment Score          1802
Strong Family-Community Ties Score     214
Trust Score                             67
dtype: int64

In [40]:
missingValueColumns = naCounts[naCounts >= 1000].keys().values
missingValueColumns

array(['Supportive Environment Score'], dtype=object)

In [41]:
joinedDF = joinedDF.drop(columns=missingValueColumns) # remove all those N/A columns
joinedDF

,DBN,School Name_x,Year,Total Enrollment,Economic Need Index,Enrollment Change,School Name_y,Total Parent \nResponse Rate,Total Teacher Response Rate,Total Student Response Rate,Collaborative Teachers Score,Effective School Leadership Score,Rigorous Instruction Score,Strong Family-Community Ties Score,Trust Score
0,01M015,P.S. 015 Roberto Clemente,2018-19,174,88.80%,0.091954,P.S. 015 ROBERTO CLEMENTE,91.0,100.0,NaN,4.10,4.19,4.02,4.18,3.96
1,01M019,P.S. 019 Asher Levy,2018-19,249,68.70%,-0.052209,P.S. 019 ASHER LEVY,100.0,93.0,NaN,4.53,4.51,4.80,4.66,3.76
2,01M020,P.S. 020 Anna Silver,2018-19,481,75.40%,-0.035343,P.S. 020 ANNA SILVER,58.0,90.0,NaN,2.71,2.98,1.92,3.84,3.14
3,01M034,P.S. 034 Franklin D. Roosevelt,2018-19,305,94.80%,-0.029508,P.S. 034 FRANKLIN D. ROOSEVELT,29.0,100.0,95.0,2.69,2.59,2.14,3.67,2.38
4,01M063,The STAR Academy - P.S.63,2018-19,230,73.70%,-0.004348,THE STAR ACADEMY - P.S.63,80.0,100.0,NaN,NaN,NaN,NaN,NaN,3.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1797,84X703,Bronx Preparatory Charter School,2018-19,700,82.30%,0.091429,BRONX PREPARATORY CHARTER SCHOOL,57.0,95.0,79.0,3.50,3.08,3.51,2.93,2.76
1798,84X704,KIPP Academy Charter School,2018-19,"1,060",82.60%,0.026415,KIPP ACADEMY CHARTER SCHOOL,24.0,46.0,65.0,3.01,2.56,3.84,3.91,3.17
1799,84X706,Harriet Tubman Charter School,2018-19,681,88.00%,-0.026432,HARRIET TUBMAN CHARTER SCHOOL,82.0,87.0,87.0,4.25,4.17,4.11,4.18,3.96
1800,84X718,Bronx Charter School for Better Learning,2018-19,564,61.20%,0.012411,BRONX CHARTER SCHOOL FOR BETTER LEARNING,88.0,84.0,NaN,4.10,4.25,4.27,4.64,4.23
1801,84X730,Bronx Charter School for the Arts,2018-19,430,88.80%,0.216279,BRONX CHARTER SCHOOL FOR THE ARTS,68.0,91.0,52.0,2.37,2.25,2.56,4.00,3.19

In [44]:
print(joinedDF.shape)

# now remove any rows with N/A. number of rows decreased
joinedDF = joinedDF.dropna(how='any', axis=0) 

# print(joinedDF.dropna(how='any', axis=0).shape)

print(joinedDF.shape)

(1802, 15)
(946, 15)

In [45]:
import re

# def to_percent(num):
#     return 1 - num / 100

# feature_columns = []

# now we're actually gonna create our X feature matrix, using just the question responses as features

# for col in joinedDF.columns:
#     if re.match(r"[0-9]+[a-z]\.", col):
#         feature_columns.append(col)

X = joinedDF[["Collaborative Teachers Score","Effective School Leadership Score","Rigorous Instruction Score","Strong Family-Community Ties Score", "Trust Score"]] # select just the columns we want as features
# X = X.apply(to_percent) # divide everything by 100. smaller values are usually better for learning.
X

,Collaborative Teachers Score,Effective School Leadership Score,Rigorous Instruction Score,Strong Family-Community Ties Score,Trust Score
3,2.69,2.59,2.14,3.67,2.38
8,3.44,4.21,3.40,3.59,3.70
10,2.68,2.49,2.77,3.42,3.09
11,4.18,4.66,3.85,4.40,4.72
12,3.75,3.48,3.30,3.06,3.88
...,...,...,...,...,...
1796,3.87,3.89,3.72,4.87,4.61
1797,3.50,3.08,3.51,2.93,2.76
1798,3.01,2.56,3.84,3.91,3.17
1799,4.25,4.17,4.11,4.18,3.96
1801,2.37,2.25,2.56,4.00,3.19

In [46]:
y = joinedDF['Enrollment Change']
y

3      -0.029508
8      -0.033766
10      0.042773
11     -0.022113
12      0.147208
          ...
1796    1.000000
1797    0.091429
1798    0.026415
1799   -0.026432
1801    0.216279
Name: Enrollment Change, Length: 946, dtype: float64

In [47]:
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# actually learn the model
model = linear_model.LinearRegression()
#model = linear_model.ElasticNet(alpha=1.0, l1_ratio=0.9)
model.fit(X_train, y_train)

LinearRegression()

In [48]:
y_pred = model.predict(X_test)

# The coefficients
print('Coefficients: \n', model.coef_)

# The mean squared error
print('Mean squared error: %.2f'% mean_squared_error(y_test, y_pred))

# The coefficient of determination: 1 is perfect prediction
print('Coefficient of determination: %.2f'% r2_score(y_test, y_pred))

print(f'R^2 score: {model.score(X_test, y_test)}')

Coefficients:
 [-0.00061944 -0.00964199  0.02180412  0.0143642   0.00293925]
Mean squared error: 0.01
Coefficient of determination: 0.03
R^2 score: 0.026772317647220545

In [49]:
for pred, actual in zip(y_pred, y_test):
    print(f"predicted={pred}\tactual={actual}")

predicted=-0.011651043276800388	actual=0.043333332999999995
predicted=0.013013990424601413	actual=-0.028169014
predicted=0.006900569992699099	actual=-0.026058632
predicted=0.024746233923407218	actual=-0.024590163999999998
predicted=-0.012042587009407954	actual=-0.014925373
predicted=0.005267963479151164	actual=0.018214936
predicted=0.023029331061580366	actual=1.0
predicted=0.016020189960906983	actual=-0.134868421
predicted=0.0029620458030795577	actual=0.006734006999999999
predicted=0.02446574517889466	actual=0.21739130399999998
predicted=-0.013689000606456336	actual=-0.034300792000000004
predicted=0.02522987811213176	actual=-0.006578947
predicted=-0.013199550730382481	actual=-0.043043812
predicted=-0.014637052422736038	actual=-0.005586592
predicted=0.021936870881479664	actual=-0.243243243
predicted=-0.05523117270000641	actual=-0.318284424
predicted=0.021164522771861788	actual=-0.064327485
predicted=-0.012107506179672267	actual=-0.13872832400000001
predicted=-0.00011115941432777998	actual=0.024081115
predicted=0.002409264246184775	actual=-0.011494253000000001
predicted=0.02795424051754164	actual=0.006644518
predicted=0.0200956487003925	actual=-0.016476553
predicted=0.010170658760273676	actual=0.037520392
predicted=0.008959195991291413	actual=-0.07852194
predicted=0.019406197201463193	actual=0.251396648
predicted=-0.02065736361859885	actual=-0.116161616
predicted=-0.0010477036071473017	actual=-0.064102564
predicted=-0.024063876877542564	actual=-0.036014081
predicted=0.023493842191178865	actual=0.037277147000000004
predicted=-0.010161323892962273	actual=0.0
predicted=0.03189300206829654	actual=-0.024911032000000003
predicted=-0.017873051952250238	actual=-0.20487804899999998
predicted=-0.018232131984419975	actual=0.021495942
predicted=-0.017639103177038415	actual=-0.071428571
predicted=0.010797356757947504	actual=0.009615385
predicted=0.0029450371876078157	actual=0.026194145
predicted=0.007039671739675429	actual=-0.061946903
predicted=-0.018002440146228038	actual=-0.054590571
predicted=-0.014659438473836175	actual=0.008210181
predicted=-0.00185671485548769	actual=-0.15261959
predicted=-0.0287945777592679	actual=-0.06829268299999999
predicted=0.01963659637740331	actual=-0.007042254
predicted=0.004967194212457615	actual=-0.017241378999999998
predicted=-0.005026182747642272	actual=0.072632944
predicted=0.01559550079592159	actual=-0.026845637999999998
predicted=0.03810696355788171	actual=0.25589225600000004
predicted=-0.004913078734651313	actual=0.024922117999999997
predicted=-0.009996305921161117	actual=0.37864077700000004
predicted=0.0046114486827171786	actual=-0.021526418999999998
predicted=0.016900358812974123	actual=-0.02887538
predicted=0.0234307633244559	actual=-0.017892644
predicted=0.02778557893825423	actual=0.006976744
predicted=-0.007715546949199584	actual=-0.16371681400000002
predicted=0.000980220827783762	actual=-0.013618677
predicted=0.0031733316361203107	actual=-0.040697673999999996
predicted=0.004588753064175499	actual=-0.082278481
predicted=-0.00850938012164168	actual=0.079754601
predicted=-0.02412785999614002	actual=0.057692308
predicted=-0.034217213916892156	actual=-0.051612902999999995
predicted=0.03384287676035902	actual=0.5
predicted=0.009089572395338488	actual=-0.057291667000000004
predicted=0.008201776331840688	actual=-0.014888337
predicted=0.038635841094758705	actual=0.002597403
predicted=0.002444240107411219	actual=0.028543307
predicted=-0.019548122859908784	actual=-0.076530612
predicted=0.008841513243148622	actual=-0.059808612000000004
predicted=0.01565006518631247	actual=0.0
predicted=-0.0036263301510029156	actual=-0.038461537999999997
predicted=-0.02232451383533235	actual=0.244897959
predicted=-0.011054751362568824	actual=-0.101538462
predicted=-0.012393193244942063	actual=0.082352941
predicted=-0.02637605589631571	actual=0.062330622999999995
predicted=0.03178230590858644	actual=0.056818182
predicted=0.012521646800814731	actual=0.004310345
predicted=-0.028705781203462982	actual=-0.042352941
predicted=0.007738459480733553	actual=0.06530612200000001
predicted=-0.01632264928073808	actual=-0.00879567
predicted=0.03112460200076453	actual=-0.0055096419999999995
predicted=0.01113856738869079	actual=-0.013756613999999999
predicted=0.0065401870159518954	actual=0.0
predicted=-0.016439423887172844	actual=-0.10992907800000001
predicted=-0.027279389520947106	actual=-0.10880829
predicted=-0.02512770669263728	actual=-0.05
predicted=-0.029936044328254363	actual=0.011049723999999999
predicted=0.027260079593727393	actual=-0.026143791
predicted=-0.009262428668581638	actual=0.006163328
predicted=0.020859442997067004	actual=-0.11555555599999999
predicted=-0.017686231514901715	actual=0.13098236800000002
predicted=0.023655312387539512	actual=-0.016977929
predicted=0.027754655686751395	actual=-0.045918367
predicted=0.019294588380959155	actual=-0.024154589
predicted=-0.0023770386887869005	actual=-0.025236592999999998
predicted=0.00032368787595787873	actual=-0.002331002
predicted=0.018330578074609347	actual=-0.057784912
predicted=0.0028878802247657986	actual=-0.021314387
predicted=-0.0038554474362743063	actual=-0.08199446
predicted=0.006657570698737805	actual=0.045901639
predicted=0.006949676854674319	actual=0.151098901
predicted=-0.008787207327381155	actual=0.07853403099999999
predicted=0.02449246819409956	actual=0.023640662000000003
predicted=0.01434142784429146	actual=0.037641153999999996
predicted=0.00024868983646095244	actual=-0.018867925
predicted=-0.026918726892864564	actual=-0.075685904
predicted=0.012089916949290735	actual=0.010912698
predicted=0.0037425416161293995	actual=-0.06333333299999999
predicted=0.02098023709615998	actual=0.026415094
predicted=0.008010191271077244	actual=-0.014925373
predicted=-0.01152226897644823	actual=-0.029032258
predicted=-0.011048660382427744	actual=-0.016871166
predicted=0.032684653259774765	actual=0.034574468
predicted=-0.0014270069937901558	actual=-0.130742049
predicted=0.03301613502112416	actual=-0.083673469
predicted=-0.022861500267680815	actual=0.040665434
predicted=-0.02461046657370894	actual=-0.037815126
predicted=0.011967716275788229	actual=0.043143297000000004
predicted=-0.0061005817646658245	actual=-0.145021645
predicted=-0.023173363549243348	actual=-0.052631579000000005
predicted=-0.03545829446635866	actual=-0.112107623
predicted=-0.015347308493223216	actual=-0.134161491
predicted=-0.0016520921265578137	actual=0.035294118
predicted=0.0014004785658982138	actual=-0.039568345
predicted=-0.001255857210886696	actual=-0.103174603
predicted=-0.022297116124933306	actual=0.009307135
predicted=-0.0018225078345877888	actual=0.041237113
predicted=0.017618263533469042	actual=-0.21102661600000003
predicted=0.018315107814483936	actual=0.005540166
predicted=-0.015313823286957046	actual=-0.001410437
predicted=0.031708147190615044	actual=0.005434783
predicted=0.013370556024522709	actual=0.366197183
predicted=0.0032282253591362636	actual=-0.003565062
predicted=0.02168054066448541	actual=0.012618296999999999
predicted=-0.0023142597076611093	actual=0.032326072000000004
predicted=0.005726274707747198	actual=0.007246376999999999
predicted=0.008258115727101695	actual=0.055072464
predicted=0.00860361120104644	actual=0.009950249
predicted=-0.029717448356438955	actual=0.007853403
predicted=0.02098644796377261	actual=-0.013043478
predicted=0.01583640328057649	actual=0.035526316
predicted=-0.004178471322698635	actual=0.06402439
predicted=0.014753647184714891	actual=-0.086065574
predicted=0.03079952507992406	actual=-0.00933126
predicted=0.022718976280258776	actual=-0.023965142000000002
predicted=-0.0098894695869233	actual=0.021390374
predicted=-0.022205023710602886	actual=-0.09684684699999999
predicted=-0.030067861052164815	actual=0.001845018
predicted=0.009841430668274781	actual=0.01965602
predicted=-0.010987149797071355	actual=-0.152917505
predicted=0.02391772804068379	actual=-0.016949153
predicted=0.028822642920589586	actual=0.07852194
predicted=-0.0038123106540199347	actual=-0.040697673999999996
predicted=-0.0313499739239267	actual=-0.110671937
predicted=-0.012721518640650284	actual=0.052971576
predicted=0.018785408733309722	actual=0.015801354
predicted=-0.00383274519863247	actual=0.014218008999999998
predicted=0.016229267823174715	actual=0.057228916
predicted=0.023894641518684562	actual=0.0
predicted=-0.019828380355502398	actual=0.063888889
predicted=0.000866719718792347	actual=0.0375
predicted=9.564307692470908e-05	actual=0.038834951
predicted=-0.011551217225141672	actual=-0.01465798
predicted=0.008222356088736824	actual=0.11904761900000001
predicted=0.029096547675612316	actual=-0.038338658
predicted=-0.01339023035489581	actual=-0.17600000000000002
predicted=-0.0064271734258546515	actual=0.019093079
predicted=-0.026738933890995464	actual=0.09951456300000001
predicted=0.001286931943595651	actual=0.063013699
predicted=-0.010886501993211312	actual=-0.04587156
predicted=-0.001832750592448043	actual=-0.029354207
predicted=0.0013518213154731645	actual=-0.036809816
predicted=0.010260983212889319	actual=0.075471698
predicted=0.013278847819619424	actual=0.004901961
predicted=-0.004514520503960354	actual=0.034696406
predicted=-0.009407431148092366	actual=0.034050179
predicted=0.0010769072374398891	actual=0.010526316
predicted=0.00943527998622741	actual=-0.071474154
predicted=0.006343733193548848	actual=-0.046296295999999994
predicted=-0.007315987141270935	actual=0.077227723
predicted=-0.03652103364660725	actual=-0.204
predicted=-0.03385572521388201	actual=-0.054755042999999996
predicted=-0.008984871497773966	actual=0.517647059
predicted=-0.0032515337546860645	actual=-0.0591133
predicted=-0.009123580623681765	actual=-0.0032292790000000003
predicted=0.001529393370527224	actual=-0.04020979
predicted=0.02382047637529941	actual=-0.0029498529999999997
predicted=-0.02151825784322113	actual=0.061696658
predicted=-0.00748344883846902	actual=-0.091190108
predicted=0.014178579361445759	actual=-0.08496732
predicted=0.019347985556956854	actual=0.023809524
predicted=-0.010275761568301234	actual=0.03502627
predicted=-0.004689403644784734	actual=-0.102941176
predicted=0.004373133150030961	actual=-0.013071895
predicted=-0.0013981314787349236	actual=-0.11530398300000001
predicted=0.04135644954630102	actual=0.021604937999999997
predicted=0.019147654556086663	actual=-0.10877193
predicted=0.007185870464893371	actual=-0.066436583
predicted=0.03165853250585687	actual=0.022988506000000002
predicted=0.008014928531465432	actual=-0.001968504
predicted=-0.018339113266332543	actual=0.01627907
predicted=-0.008744415866907496	actual=0.042772860999999995
predicted=-0.048017926890600096	actual=-0.164222874
predicted=-0.019382673864516475	actual=-0.006666666999999999
predicted=0.00796490492744023	actual=-0.009584665
predicted=-0.022138372293215164	actual=-0.105675147
predicted=-0.02588164800958842	actual=0.043062200999999994
predicted=-0.01765845028491292	actual=-0.010279001
predicted=-0.014050944031830603	actual=-0.019305019
predicted=0.0062788640469180895	actual=0.009451796
predicted=0.010230574152235855	actual=-0.06083086099999999
predicted=0.005570452913082544	actual=0.087323944
predicted=0.008166386809506404	actual=0.024896266
predicted=0.011700792242062982	actual=0.027923211
predicted=0.01993002317113883	actual=0.0061349690000000005
predicted=0.005320599785975905	actual=0.0
predicted=0.01370788562988455	actual=0.0041841000000000005
predicted=-0.025726673333101108	actual=0.6144578310000001
predicted=0.005100046285137605	actual=0.030241935
predicted=-0.024032402054875557	actual=-0.034619189
predicted=-0.00417980389659775	actual=0.017167382
predicted=0.01490929110835705	actual=-0.027918782000000003
predicted=0.0013218834519100886	actual=-0.179487179
predicted=0.006983580526021785	actual=-0.022099447999999997
predicted=0.026536193626706728	actual=-0.018145161
predicted=0.002285736552969861	actual=0.003115265
predicted=-0.008814950702943788	actual=0.029612756
predicted=0.02531242698468114	actual=0.03043022
predicted=0.005061450780634191	actual=-0.012048193
predicted=-0.0025399350704678886	actual=-0.100737101
predicted=-0.00626335455533962	actual=-0.028880866
predicted=-0.013578591555046579	actual=0.009036145
predicted=-0.028872580953860583	actual=0.010666667
predicted=-0.005837427013983834	actual=0.015151515
predicted=0.015539993277226286	actual=-0.21559633
predicted=-0.005493609527459933	actual=-0.062602965
predicted=0.013262248920720546	actual=0.09779179800000001
predicted=0.010625937395868215	actual=-0.009615385
predicted=-0.022850144554967117	actual=-0.04395604400000001
predicted=0.005293519293727317	actual=0.005928854
predicted=0.01929953500268712	actual=-0.06802721099999999
predicted=0.005214286541323554	actual=0.020408163
predicted=-0.006267758278854535	actual=-0.054205607
predicted=-0.024745270262935742	actual=-0.049107143
predicted=0.011320493000010937	actual=-0.008714597
predicted=0.020755692768799475	actual=0.002114165
predicted=-0.027326219932252982	actual=-0.005540166
predicted=-0.020181666069412088	actual=-0.038888888999999996
predicted=-0.02003502108598812	actual=-0.17768595
predicted=-0.022646545617520414	actual=-0.100151745
predicted=0.01553397173475779	actual=-0.08627451
predicted=0.033127908470199724	actual=-0.158590308
predicted=-0.013654395164361205	actual=-0.18263473100000002
predicted=0.008949665338504137	actual=-0.050473185999999996
predicted=0.018796051835294744	actual=0.022653722
predicted=0.01929940826230213	actual=-0.17301038100000002
predicted=-0.01142159564527745	actual=-0.009887006
predicted=0.013165978527583694	actual=-0.022429907000000002
predicted=0.003111604242094154	actual=-0.092213115
predicted=0.013741546242516556	actual=0.271604938
predicted=0.016594187388414935	actual=-0.017801858
predicted=-0.010512984139749923	actual=0.015075377
predicted=0.010877604663682802	actual=0.051873199
predicted=-0.03090746964258112	actual=-0.10332749599999999
predicted=-0.0006065631358021101	actual=-0.075471698
predicted=0.01873129855316931	actual=0.010869565
predicted=0.0014993856206801104	actual=-0.017156863
predicted=0.006576661113783161	actual=0.043071161
predicted=0.03162631704642452	actual=0.0
predicted=-0.00998465103159922	actual=-0.033333333
predicted=-0.00734275500990611	actual=0.00617284
predicted=-0.011102144695066471	actual=0.018914474
predicted=-0.03894615611475877	actual=-0.17272727300000001
predicted=0.005019494983580022	actual=0.035687168
predicted=-0.010266619902275273	actual=-0.006420546
predicted=-0.002671780494419712	actual=-0.002564103
predicted=-0.0034796636619133375	actual=0.011385198999999999
predicted=0.02842199094108755	actual=0.135231317
predicted=-0.007068736676920401	actual=-0.062947067
predicted=0.02507845298943623	actual=0.023668638999999998
predicted=0.003259385351417121	actual=0.023477157000000002
predicted=-0.004168388840953649	actual=-0.020172911
predicted=-0.018082641019598195	actual=-0.014749263
predicted=-0.00032367553036628804	actual=0.026262626
predicted=0.0027795537976638696	actual=-0.036827195
predicted=0.009336127907443523	actual=-0.078350515
predicted=0.027137731204238097	actual=-0.030812325

In [50]:
# same thing but with Random Forests

from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
model = RandomForestRegressor(n_estimators=100, max_depth=16, random_state=0)
model.fit(X_train, y_train)
print(f'R^2 score: {model.score(X_test, y_test)}')

R^2 score: -0.0757928194545392